/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 
 #start_screen { width: 100%; height: 100%; background: url('/art/png/background_titlepage.png'); }
 #container { background: url('/art/png/background.png') }
 
#startBtn { background: url('/art/png/play_btn.png'); width: 257px !important; height: 110px !important; border: 0px; display: none; position:  absolute; top: 82%; left: 23%; }
#answer { position:absolute; top:20%; left: 35%; font-size: 200px; }
.riddle_btn { font-size: 78px; width: 400px !important; height: 200px; }

#toaster_btn { height: 200px; width:230px; background: url('/art/png/toaster.png'); border: 0px; position: absolute; top: 85%; left: 22%; }
#roomba_btn { height: 200px; width: 365px; background: url('/art/png/roombot.png'); border: 0px; position: absolute; top: 85%; left: 1%;}
#kittybrush_btn { height: 200px; width: 97px; background: url('/art/png/cat_brush.png'); border: 0px; position: absolute; top: 85%; left: 35%;}
#personalmassager_btn { height: 200px; width: 330px; background: url('/art/png/massager.png'); border: 0px; position: absolute; top: 85%; left: 42%;}
#coffeemachine_btn { height: 200px; width: 192px; background: url('/art/png/coffeepot.png'); border: 0px; position: absolute; top: 85%; left: 60%; }
#fridge { height: 1000px !important; width: 591px !important; background: url('/art/png/fridge.png'); border: 0px !important; position: absolute; top: 32%; left: 69%; }

#toaster {  }
#roomba {  }
#kittybrush {  }
#personalmassager {  }
#coffeemachine {  }

#toaster_prop { height: 200px; width:230px; background: url('/art/png/toaster.png'); border: 0px; position: absolute; top: 85%; left: 22%; }
#roomba_prop { height: 200px; width: 365px; background: url('/art/png/roombot.png'); border: 0px; position: absolute; top: 85%; left: 1%;}
#kittybrush_prop { height: 200px; width: 97px; background: url('/art/png/cat_brush.png'); border: 0px; position: absolute; top: 85%; left: 35%;}
#personalmassager_prop { height: 200px; width: 330px; background: url('/art/png/massager.png'); border: 0px; position: absolute; top: 85%; left: 42%;}
#coffeemachine_prop { height: 200px; width: 192px; background: url('/art/png/coffeepot.png'); border: 0px; position: absolute; top: 85%; left: 60%; }
#fridge_prop { height: 1000px !important; width: 591px !important; background: url('/art/png/fridge.png'); border: 0px !important; position: absolute; top: 32%; left: 69%; }

#fridgeHint { font-size: 200px; width: 100%; display:inline-block; text-align: center; padding-top: 247px; }

#fridgeAnswer, #fridgeSubmit {
    padding: 100px;
    border: 1px solid;
    width: 350px;
    text-align: center;
    text-shadow: red;
    border-radius: 5px;
    cursor: pointer;
    margin: 25px auto;
    border-radius: 15px;
    font-size: 100px;
}

div#visible_letters {
    font-size: 200px;
    width: 300px;
    margin: 50px auto;
}

