<!DOCTYPE html>
<html>
<head>
  <title>Kitty Milk - Global Game Jam 2016 - NYC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
