<!DOCTYPE html>
<html>
<head>
  <title>Ggj2016</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
